@import "compass/css3";

.app {
  background: #000;
  width: 980px;
  padding: 20px;
  margin: 0 auto;
}

.cont {
  .cardRow {
    display: table;
    width: 100%;
    padding: 20px 0;
  }
  &.list {
    .card {
      display: table-row;
      background: #fff;
      > div {
        display: table-cell;
        vertical-align: middle;
        padding: 10px;
        border-bottom: 2px solid #000;
      }
      .imgBox {
        .img {
          display: inline-block;
          vertical-align: middle;
          margin: -4px;
          width: 100px;
          height: 80px;
          background-size: cover;
          background-position: 50% 50%;
        }
      }
      .title {
        h2 {
          margin: 0;
          padding: 0;
          font-size: 16px;
        }
        span {
          text-transform: uppercase;
        }
      }
      .stakes {
        h3 {
          margin: 0;
          padding: 0;
          font-size: 16px;
        }
        span {
          text-transform: uppercase;
        }
      }
      .jackpot {
        h4 {
          margin: 0;
          padding: 0;
          font-size: 16px;
        }
        span {
          text-transform: uppercase;
        }
      }
      .buttons {
        button {
          margin-bottom: 10px;
        }
        text-align: right;
      }
    }
  }
  &.grid {
    margin-right: -20px;
    .card {
      > div {
        position: relative;
      }
      display: table-cell;
      background: #fff;
      padding: 6px;
      border-right: 20px solid #000;
      .imgBox {
        border-bottom: 5px solid #444;
        .img {
          padding: 100% 0 0;
          background-size: cover;
          background-position: 50% 50%;
        }
      }
      .title {
        h2 {
          margin: 0;
          padding: 0;
          font-size: 16px;
        }
        span {
          display: block;
          padding: 0 5px;
          width: 100%;
          position: absolute;
          top: -150%;
          background: #777;
          color: #fff;
          text-transform: uppercase;
        }
      }
      .stakes {
        display: none;
      }
      .jackpot {
        h4 {
          display: inline;
          margin: 0;
          padding: 0;
          font-size: 16px;
        }
        span {
          display: inline;
          text-transform: uppercase;
        }
      }
      .buttons {
        .btnWrapper {}
      }
    }
  }
}